
/* all buttons */


/*  button styles */
.menuBar{
    background-color:transparent;
    -webkit-app-region: no-drag;
    color: #EAF2EF;
    border: none;
}

.recentTrans{
    background-color: #E56399;
    border: none;
    border-radius: 0 0 1rem 1rem;
}

/* button hover styles */
.redHover:hover{
    background-color: #E56399;
}

.grayHover:hover{
    background-color: #6b6b6b;
}