
.app-container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 20fr;
    height: 100vh;
}

.heading{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 8fr 1fr;
    grid-column: 1/10;
    font-size: 0.7rem;
    color: #EAF2EF;
    border-bottom: 1px solid #1b1b1f;
    background-color: #0d0324;
    -webkit-app-region: drag;
    height: 5vh;
}

.exitButtons {
    grid-column: 3/4;
    align-self: center;
    justify-self: end;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

.heading h1{
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

.navbar {
    background-color: #0d0324;
    height: 95vh;
}

.content {
    display: grid;
    background-color: #24104F;
    color: #EAF2EF;
    height: 95vh;
}

.navbar ul {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 10fr;
}

.navbar ul li {
    display: grid;
    border-bottom: 1px solid #1b1b1f;
}

.navbar ul li a {
    display: grid;
    align-items: center;
    justify-items: end;
    padding-right: 10%;
    text-decoration: none;
    color: #EAF2EF;
}

.active {
    border-bottom: 1px solid #E56399;
}
